@import url("https://fonts.googleapis.com/css2?family=popping");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover,
.navbar a:active {
  color: rgb(30, 210, 241);
}

.home {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  gap: 20px;
  background-color: #20242d;
}
.home .content {
  flex-basis: 60%;
}
.content h3 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.content h3 span {
  color: aqua;
}
.content h3 span:hover {
  color: brown;
}
.content h1 {
  font-weight: 900;
  color: white;
  font-size: 3.5rem;
}
.content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-top: 1.5rem;
}
.content .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 1.5rem 0;
  text-align: left;
}
.content .social-media a:hover {
  background-color: lightseagreen;
}

.content button {
  display: block;
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: rgb(194, 223, 248);
  outline: none;
  border: 1px solid black;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}
.content button:hover {
  background-color: lightseagreen;
}
.home .home-image {
  flex-basis: 45%;
}
.home-image img {
  width: 100%;
  border-radius: 25%;
  border-color: #fff;
}
.home-image img:hover {
  color: lightseagreen;
}

.about-container {
  /* padding: 80px 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  gap: 50px;
  background-color: #323846;
  box-sizing: border-box;
}

.about-pic img {
  flex-basis: 60%;
  width: 500px;
  height: 450px;
  flex: content;
  margin-right: 10px;
  /* padding: ; */
  border-radius: 30px;
}

.about-content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-top: 1.5rem;
}
.about-content h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: lightseagreen;
  /* border-radius: 10px; */
  /* margin-right: 5px; */
}

.about-content h3:hover {
  background-color: transparent;
  color: chocolate;
}

#hello {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: green;
  font-size: 2rem;
}

#skills {
  text-align: center;
  padding: 10px 10px;
  background: #f4f4f4;
}

.skills-container {
  background-color: #cbcbcb;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
}

.skill i {
  font-size: 24px;
  color: #4caf50;
}
